---
import type { Metadata } from '../types/metadata';
import MetaTag from './MetaTag.astro';

type Props = Omit<Metadata, 'openGraph' | 'twitter'>;

const CANONICAL_URL = Astro.url.origin + Astro.url.pathname;

const {
  canonicalUrl = CANONICAL_URL,
  charset = 'UTF-8',
  index = true,
  follow = true,
  ...rest
} = Astro.props;

const robotsTag = [];

if (index) {
  robotsTag.push('index');
}

if (follow) {
  robotsTag.push('follow');
}
---

<meta {charset} />
<MetaTag name="viewport" content="width=device-width, initial-scale=1.0" />
<MetaTag name="robots" content={robotsTag.join(', ')} />
<title>{rest.title}</title>
<MetaTag name="description" content={rest.description} />
<MetaTag name="keywords" content={rest.keywords?.join(', ')} />
<link rel="canonical" href={canonicalUrl} />
<MetaTag name="author" content={rest.author} />

{rest.authorWebsite ? <link rel="author" href={rest.authorWebsite} /> : null}

{
  rest.sitemapUrl ?
    <link rel="sitemap" type="application/xml" href={rest.sitemapUrl} />
  : null
}
